# 문자열에서 이모지 제거

In [1]:
import emoji

In [2]:
def give_emoji_free_text(text):    
    allchars = [str for str in text]
    emoji_list = [c for c in allchars if c in emoji.UNICODE_EMOJI]
    
    # text.split() : 공백 기준 분할
    # 이모지가 하나라도 있으면 제외시키고 이모지가 없는 문자열만 join
    clean_text = ' '.join([str for str in text.split() if not any(i in str for i in emoji_list)])

    return clean_text

# 컬럼의 데이터 타입이 list인 컬럼에 대한 replace()

In [15]:
import pandas as pd

In [16]:
strDt = [['한국', '미국', '중국'], ['영국', '프랑스', '독일'], ['한국', '싱가폴', '호주']]

In [17]:
df = pd.DataFrame(data = {'col1': strDt})

In [18]:
df.head()

            col1
0   [한국, 미국, 중국]
1  [영국, 프랑스, 독일]
2  [한국, 싱가폴, 호주]

In [20]:
df['col1'] = df['col1'].apply(str).str.replace('한국', 'Korea')

In [21]:
df.head()

                     col1
0   ['Korea', '미국', '중국']
1     ['영국', '프랑스', '독일']
2  ['Korea', '싱가폴', '호주']